/* Rules for sizing the icon. */
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons { color: rgba(0, 0, 0, 0.54); }




body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
  background: #f3f3f3;
}
.portada {

}
.header {
  position: relative;
  background-color: rgb(50, 199, 135);
  height: 50px;
  color: white;
  overflow: hidden;
  width: 100%;
}
.title-header {
  font-size: 13px;
  margin-top: 15px;
  margin-left: 18px;
  font-weight: inherit;
}
.contenedor-title {
  width: 15%;
  display: flex;
  position: relative;
}
.title-b {
  color: #676767;
  font-size: 12px;
  margin-top: 25px;
}
.title-b h2 {
  margin: 0 auto;
  font-weight: 100;
  margin-bottom: 5px;
}

.contenedor {
  margin: auto;
  /*position: relative;*/
  display: flex;
}

.contenedor-input {
  width: 65%;
  display: flex;
  position: relative;
}

.input-search {
  height: 25px;
  /*background-color: rgb(91, 219, 159);*/
  border: 1px;
  margin-top: 12px;
  width: 840px;
  background: #70d8ab;
  background-image: url("../images/icon-search.png");
  background-repeat: no-repeat;
  background-position: 8px 5px;
  background-size: 16px;
  color: white;
  padding-left: 35px;
  font-size: 11px;
}
::placeholder {
  color: white;
  border: 1px white;
}

.contenedor-icon {
  display: flex;
  right: 30px;
  top: 15px;
  width: 15%;
  position: absolute;
  justify-content: space-between;
}
.material-icons {
  font-size: 17px !important;
}
.color-icon {
  color: white;
}
.contenedor-icon span {
  display: flex;
}

span .icon-search {
  display: none;
}

.informacion-usuario {
  /*position: relative;*/
  background: #ebebeb;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  height: 50px;
  display: flex;
}
.imagen-usuario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5px;
}
.imagen-usuario .usuario {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}
.info-usuario {
  margin-top: 10px;
}
.info-usuario span {
  font-size: 10px;
  color: #9c9c9c;
}
.info-usuario h2 {
  font-size: 10px;
  margin: 0 auto;
  color: #333333;
}

span .button-menu {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 3;
  display: none;
}
.notifications {
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 10px;
  background-color: #000;
  padding: 0 4px;
  display: none;
}
.sub-menu a {
  text-decoration: none;
  color: #707070;
}
.sub-menu ul {
  list-style-type: none;
  padding-left: 20px;
}
.sub-menu li {
  padding-bottom: 10px;
  font-size: 12px;
}
.color a:first-child {
  color: #32c787 !important;
  font-weight: 900;
}
.color i:first-child {
  color: #32c787 !important;
  font-weight: 900;
}
.icon-menu {
  margin-right: 10px !important;
}
.icons-items {
  margin: 25px;
}

.slider-menu {
    font-family: "Roboto", sans-serif;
    background: #f3f3f3;
    width: 15%;
    position: absolute;
    /*overflow: hidden;
    height: calc(100vh - 70px);*/
}
.contenedor-title-b {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 20px;
}
.contenedor-items {
  width: 85%;
  float: right;
}
.articles {
  display: flex;
  justify-content: space-between;
}
.articles h3 {
  margin: auto;
  color: white;
  font-weight: 100;
  font-size: 15px;
}
.articles span {
  font-size: 11px;
  color: white;
}
.item-1 {
  background-color: #03a9f4;
  width: 23%;
  height: 65px;
}
.item-2 {
  background-color: #ffc107;
  width: 23%;
  height: 65px;
}
.item-3 {
  background-color: #d559ea;
  width: 23%;
  height: 65px;
}
.item-4 {
  background-color: #ff5652;
  width: 23%;
  height: 65px;
  margin-right: 20px;
}
.image-item {
  position: relative;
  float: right;
  margin-top: 8px;
}
.text-item {
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
}

.contenedor-graficas {
  display: inline-flex;
  justify-content: space-between;
  float: right;
  width: 100%;
}
.grafica-1 {
  width: 48%;
  background: white;
  margin-top: 25px;
}
.grafica-2 {
  width: 48%;
  margin-right: 20px;
  background: white;
  margin-top: 25px;
}
.title-grafica {
  margin: 20px 0 0 25px;
}
.title-grafica h3 {
  font-size: 18px;
  color: #3b3b3b;
  margin: 0 auto;
}
.title-grafica span {
  font-size: 12px;
  color: #bababa;
}
.img-grafica {
  width: 90%;
  z-index: 1;
  margin: 25px;
}

.active {
  display: block !important;
}


/*RESPONSIVE DESING*/

@media screen and (max-width: 1000px) { /*Diseño para tablets*/
  /*MENU-CONTENEDOR_ITEMS*/
  .contenedor-items {
    width: 80%;
  }
  .image-item {
    display: none;
  }
  .contenedor-input {
    width: 60%;
  }
  .contenedor-title {
    width: 20%;
  }
}
@media screen and (max-width: 800px) { /*Diseño para tablets*/
  /*HEADER*/
  .input-search {
    display: none;
  }
  .button-menu {
    display: block;
  }
  .title-header {
    display: none;
  }
  span .button-menu {
    display: block;
  }
  span .icon-search {
    display: block;
  }
  .contenedor-icon {
    width: 50%
  }
  .icons-items {
    display: flex;
  }
  .material-icons {
    font-size: 20px !important;
  }
  .informacion-usuario {
    margin-top: 70px;
  }
  .slider-menu {
    display: none;
  }
  .slider-menu {
    background: rgba(204, 204, 204, .9);
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 30%;
    align-items: center;
    transition: .3s;
  }
  .slider-menu.active {
    left: 0;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .image-item {
    display: none;
  }
  .item-1 {
    width:47%;
    margin-bottom: 25px;
  }
  .item-2 {
    width:47%;
    margin-bottom: 25px;
  }
  .item-3 {
    width:47%;
    margin-bottom: 25px;
  }
  .item-4 {
    width:47%;
    margin-bottom: 25px;
    margin-right: 0;
  }
  .contenedor-items {
    width: 100%;
  }
  .contenedor-title-b {
    margin-left: 40px;
  }
  .contenedor-graficas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grafica-1 {
    width: 93%;
    margin-top: 0;
  }
  .grafica-2 {
    width: 93%;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
    /*HEADER*/
  span .icon-check_circle, span .icon-apps, span .icon-more_vert,  span .icon-sms {
    display: none;
  }
  .contenedor-icon {
    width: 30%;
  }
  .contenedor-icon span {
    padding-right: 30px;
  }
  .image-item {
    display: block;
  }
  .item-1 {
    width: 90%;
    margin-bottom: 25px;
  }
  .item-2 {
    width: 90%;
    margin-bottom: 25px;
  }
  .item-3 {
    width: 90%;
    margin-bottom: 25px;
  }
  .item-4 {
    width: 90%;
    margin-bottom: 25px;
    margin-right: 0;
  }
  .grafica-1 {
    width: 90%;
    margin-top: 0;
  }
  .grafica-2 {
    width: 90%;
    margin-right: 0;
  }
  .icons-items {
    display: flex;
    margin-right: 0px;
  }
  .icons-items span {
    margin-right: 10px;
  }
  .title-b span {
    position: absolute;
    font-size: 11px;
  }
  .informacion-usuario {
    margin-top: 70px;
  }
  .slider-menu {
    background: rgba(204, 204, 204, .9);
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 55%;
    align-items: center;
    transition: .3s;
  }
  .slider-menu.active {
    left: 0;
  }
}
